.elementor-240 .elementor-element.elementor-element-e373e77 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-240 .elementor-element.elementor-element-e373e77:not(.elementor-motion-effects-element-type-background), .elementor-240 .elementor-element.elementor-element-e373e77 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-240 .elementor-element.elementor-element-e373e77{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-240 .elementor-element.elementor-element-e373e77 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-240 .elementor-element.elementor-element-e7fbee3{text-align:left;}.elementor-bc-flex-widget .elementor-240 .elementor-element.elementor-element-3154ae4.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-240 .elementor-element.elementor-element-3154ae4.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-240 .elementor-element.elementor-element-3154ae4.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-240 .elementor-element.elementor-element-863d0ab .elementor-menu-toggle{margin:0 auto;}.elementor-240 .elementor-element.elementor-element-863d0ab .elementor-nav-menu .elementor-item{font-family:"Dosis", Sans-serif;font-size:24px;font-weight:600;line-height:101px;}.elementor-240 .elementor-element.elementor-element-863d0ab .elementor-nav-menu--main .elementor-item{color:var( --e-global-color-secondary );fill:var( --e-global-color-secondary );padding-left:33px;padding-right:33px;}.elementor-240 .elementor-element.elementor-element-863d0ab .elementor-nav-menu--main .elementor-item:hover,
					.elementor-240 .elementor-element.elementor-element-863d0ab .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-240 .elementor-element.elementor-element-863d0ab .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-240 .elementor-element.elementor-element-863d0ab .elementor-nav-menu--main .elementor-item:focus{color:#FFFFFF;fill:#FFFFFF;}.elementor-240 .elementor-element.elementor-element-863d0ab .elementor-nav-menu--main .elementor-item.elementor-item-active{color:var( --e-global-color-secondary );}.elementor-240 .elementor-element.elementor-element-863d0ab > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 00px;}.elementor-240 .elementor-element.elementor-element-07f2197 .hfe-input-focus .hfe-search-icon-toggle input[type=search]{width:250px;}.elementor-240 .elementor-element.elementor-element-07f2197 .hfe-input-focus .hfe-search-form__input:focus{background-color:#ededed;}.elementor-240 .elementor-element.elementor-element-07f2197 .hfe-input-focus .hfe-search-icon-toggle .hfe-search-form__input{border-style:none;border-radius:3px;}.elementor-240 .elementor-element.elementor-element-07f2197 .hfe-search-icon-toggle input[type=search]{padding:0 calc( 25px / 2);}.elementor-240 .elementor-element.elementor-element-07f2197 .hfe-search-icon-toggle i.fa-search:before{font-size:25px;}.elementor-240 .elementor-element.elementor-element-07f2197 .hfe-search-icon-toggle i.fa-search, .elementor-240 .elementor-element.elementor-element-07f2197 .hfe-search-icon-toggle{width:25px;}.elementor-240 .elementor-element.elementor-element-fbe918a{--main-alignment:center;--divider-style:solid;--subtotal-divider-style:solid;--elementor-remove-from-cart-button:none;--remove-from-cart-button:block;--toggle-button-border-width:0px;--toggle-button-border-radius:0px;--toggle-icon-size:25px;--cart-border-style:none;--cart-footer-layout:1fr 1fr;--products-max-height-sidecart:calc(100vh - 240px);--products-max-height-minicart:calc(100vh - 385px);}.elementor-240 .elementor-element.elementor-element-fbe918a .widget_shopping_cart_content{--subtotal-divider-left-width:0;--subtotal-divider-right-width:0;}.elementor-240 .elementor-element.elementor-element-fbe918a .elementor-button--view-cart{border-style:none;}.elementor-240 .elementor-element.elementor-element-fbe918a .elementor-button--checkout{border-style:none;}.elementor-240 .elementor-element.elementor-element-fbe918a .woocommerce-mini-cart__empty-message{font-family:"Roboto", Sans-serif;font-weight:600;}.elementor-240 .elementor-element.elementor-element-fbe918a > .elementor-widget-container{border-style:none;}/* Start custom CSS for nav-menu, class: .elementor-element-863d0ab *//* a:hover {*/
/*  background-color: #E57AAC;*/
/*  color: #0000;*/
/*  width: auto;*/
/*  height: auto;*/
/*}*/
/*span:hover{*/
/*    color: #fffff;*/
/*}*/
/*.elementor-240 .elementor-element.elementor-element-863d0ab {*/
/*   display: flex;*/
/*   align-items: flex-start;*/
/*   justify-content: center;*/
/*}*/

.elementor-240 .elementor-element.elementor-element-863d0ab {
  list-style: none;
  margin: 0;
  padding: 0;
}

.elementor-240 .elementor-element.elementor-element-863d0ab li {
  display: inline-block;
  position: relative;
}

.elementor-240 .elementor-element.elementor-element-863d0ab li a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.elementor-240 .elementor-element.elementor-element-863d0ab li a:hover {
   background-color: #E57AAC;
   color: #fff;
}

.elementor-240 .elementor-element.elementor-element-863d0ab li .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f00;
  width: 200px;
}

.elementor-240 .elementor-element.elementor-element-863d0ab a:hover .submenu {
  display: block;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-e373e77 */.elementor-240 .elementor-element.elementor-element-e373e77 {
  margin: 0px;
  padding: 0px;
}/* End custom CSS */